<div class="modal fade" #createOreditRolesModal tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="role.id">Editar Autorização - {{role.displayName}}</span>
                    <span *ngIf="!role.id">Criar Autorização</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="close()"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">

                        <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab"
                            aria-controls="ex1-tabs-1" aria-selected="true"><span class="pi pi-user"></span> Nome da
                            autorização</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab"
                            aria-controls="ex1-tabs-2" aria-selected="false"><span class="pi pi-bars"></span>
                            Permissões</a>
                    </li>
                </ul>
                <div class="tab-content" id="ex1-content">
                    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                        <div class="row">
                            <div class="mb-5 mt-4">
                                <div class="container">
                                    <!-- <div class="form-group row">
                                        <label class="form-label col-md-12" for="RoleDisplayName">Nome da
                                            autorização *
                                            <div class="col-md-10">
                                                <input type="text" class="form-control input-role-display-name"
                                                    name="RoleDisplayName" id="RoleDisplayName" #roleDisplayName
                                                    required minlength="2" maxlength="32"
                                                    [(ngModel)]="role.displayName" />
                                            </div>
                                        </label>
                                    </div> -->

                                    <!-- <div class="form-group row">
                                        <label for="labelDefault"
                                            class="col-md-7 form-check form-check-custom form-check-solid py-1">
                                            <p-checkbox name="group1" value="role.isDefault" binary="true"
                                                [(ngModel)]="role.isDefault" inputId="labelDefault">
                                            </p-checkbox>
                                            <span class="form-check-label">
                                                Padrão <small class="form-text text-muted">Atribuir a novos usuários
                                                    como padrão.</small>
                                            </span>
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <permission-tree #permissionTree></permission-tree>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
                <button [disabled]="loading" class="btn btn-primary" [buttonBusy]="loading"
                    [busyText]="' Carregando...'">
                    <i class="pi pi-check"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form autocomplete="off" #roleForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="role.id">Editar Autorização - {{role.displayName}}</span>
                        <span *ngIf="!role.id">Criar Autorização</span>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" [busyIf]="loading">
                    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">

                            <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab"
                                aria-controls="ex1-tabs-1" aria-selected="true"><span class="pi pi-user"></span> Nome da
                                autorização</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab"
                                aria-controls="ex1-tabs-2" aria-selected="false"><span class="pi pi-bars"></span>
                                Permissões</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                            aria-labelledby="ex1-tab-1">
                            <div class="row">
                                <div class="mb-5 mt-4">
                                    <div class="container">
                                        <div class="form-group row">
                                            <label class="form-label col-md-12" for="RoleDisplayName">Nome da
                                                autorização *
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control input-role-display-name"
                                                        name="RoleDisplayName" id="RoleDisplayName" #roleDisplayName
                                                        required minlength="2" maxlength="32"
                                                        [(ngModel)]="role.displayName" />
                                                </div>
                                            </label>
                                        </div>

                                        <div class="form-group row">
                                            <label for="labelDefault"
                                                class="col-md-7 form-check form-check-custom form-check-solid py-1">
                                                <p-checkbox name="group1" value="role.isDefault" binary="true"
                                                    [(ngModel)]="role.isDefault" inputId="labelDefault">
                                                </p-checkbox>
                                                <span class="form-check-label">
                                                    Padrão <small class="form-text text-muted">Atribuir a novos usuários
                                                        como padrão.</small>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <button pButton pRibble type="button" icon="pi pi-pencil icon"
                                    class="p-button-rounded p-button-warning p-button-text" pTooltip="Novo"
                                    tooltipPosition="top" (click)="obterPermissao()">
                                </button>

                                <permission-tree #permissionTree></permission-tree>

                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="">Task</label>
                                        <app-select #appselect></app-select>
                                    </div>
                                </div>

                                <p-tree></p-tree>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->