<!-- Botão para acionar modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo" (click)="opemModal()">
  Abrir modal de demonstração
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="modalExemplo" #modalExemplo tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        ...
        <div #bodyDiv></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="modalExemplo" #modalExemplo tabindex="-1" role="dialog" aria-labelledby="modalExemploLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalExemploLabel">Título do modal</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- <div class="modal-body"  relativeLoader [loading]="true"> -->
      <div class="modal-body">

        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" [buttonBusy]="false" [busyText]="'Carregando'"data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" [spinnerButton]="false" [busyText]="'Carregando...'">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>