<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="pi pi-home"></i>
                    _home
                </h4>
            </div>
            <div class="card-body mt-5">

                <div class="form-group">
                    <!-- <button type="button" class="btn btn-primary" 
                        [buttonBusy]="loading" 
                        [busyText]="'Carregando...'"
                        [disabled]="loading">Enviar</button> -->

                        <button  type="button" class="btn btn-primary" 
                        [spinnerButton]="loading"
                        [busyText]="'Carregando...'"
                        >Get Data</button>

                    <!-- <input type="submit" class="btnSubmit" value="Login" [buttonBusy]="loading"
                        [busyText]="' Carregando...'" [disabled]="loading" /> -->
                </div>

                <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">

                        <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab"
                            aria-controls="ex1-tabs-1" aria-selected="true"><span class="pi pi-user"></span> Tab 1</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab"
                            aria-controls="ex1-tabs-2" aria-selected="false"><span class="pi pi-bars"></span> Tab 2</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab"
                            aria-controls="ex1-tabs-3" aria-selected="false"><span class="pi pi-sitemap"></span> Tab
                            3</a>
                    </li>
                </ul>
                <div class="tab-content" id="ex1-content">
                    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">
                                            <i class="pi pi-filter"></i>
                                            _filtro
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="selectUser">Usuário</label>
                                                drop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="mr-2 card-header-action d-flex align-items-end justify-content-end">
                                            <button pButton pRibble type="button" icon="pi pi-refresh"
                                                class="p-button-rounded p-button-warning p-button-text"
                                                pTooltip="Atualizar" tooltipPosition="top">
                                            </button>
                                            <button pButton pRibble type="button" icon="pi pi-plus"
                                                class="p-button-rounded p-button-warning p-button-text" pTooltip="Novo"
                                                tooltipPosition="top">
                                            </button>
                                        </div>
                                        <h4 class="card-title">_usuários</h4>
                                        <!-- <p class="card-category">Here is a subtitle for this table</p> -->
                                    </div>
                                    <div class="card-body mt-5 table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let cell of tableData1!.headerRow">{{ cell }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableData1!.dataRows">
                                                    <td *ngFor="let cell of row">{{cell}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">

                        <!-- @for(item of tasks; track item.id){
                        {{item.id}}
                        } -->

                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="">Task</label>
                                <app-select [options]="tasks" (selectChange)="onChange($event)"></app-select>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                        Tab 3 content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>